<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.reconnect">

        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".activities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">

        </activity>

        <activity
            android:name=".activities.PlayingChakraActivity"
            android:theme="@style/TransparentStatusBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />

        </activity>

        <activity
            android:name=".activities.PlayingSilenceActivity"
            android:theme="@style/SplashTheme">

        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MeditationsActivity"
            android:theme="@style/BlackActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AddReminderActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MeditationsActivity" />

        </activity>
        <activity
            android:name=".activities.SilenceDayFirstActivity"
            android:theme="@style/SplashTheme"

            >

        </activity>

        <activity android:name=".activities.PlayingMusicActivity"
            android:theme="@style/BlackStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />

        </activity>

        <activity
            android:name=".activities.SilenceChoseSign"
            android:theme="@style/SplashTheme">
        </activity>
        <activity android:name=".activities.MantraPlayingActivity"
            android:theme="@style/BlackStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />

        </activity>

        <service android:name=".reminder.ReminderAlarmService" android:exported="false"/>

    </application>

</manifest>